body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
}

h1{
  text-align: center;
  margin-top: 0px;
}

.header{
  background-color: #e6ccb3;
  height: 100px;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#add-item{
  margin-bottom: 30px;
  margin-left: 25%;
}

label{
  margin-right: 10px;
}

.btn{
  margin-left: 10px;
  background-color: #e6ccb3;
  border: 2px solid #bf7d40;
}

.row{
  display: inline;
}

.item{
  float: left;
  border: 1px solid #e6ccb3;
  border-radius: 4px;
  width: 40%;
  height: 35px;
  overflow: auto;
  font-size: 20px;
  text-align: center;
  margin-left: 25%;
}

input[type=text] {
  border: 2px solid #e6ccb3;
  border-radius: 4px;
  width: 40%;
  height: 40px;
  font-size: 20px;
}

@media screen and (max-width: 900px) and (min-width: 520px){
  #add-item{
    margin-left: 15%;
  }
  .item{
    margin-left: 15%;
    width: 50%;
  }
  
}

@media screen and (max-width: 520px) {
  #add-item{
    margin-left: 0px;
  }
  label{
    margin-right: 5px;
  }
  .btn{
    margin-left: 5px;
  }
  .item{
    margin-left: 0px;
    width: 55%;
  }
}
